html,
body,
#root {
  height: 100%;
  background-color: #fffcf7;
  color: #393d3f;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.custom-background {
  background-color: #188fa7;
}

.custom-background1 {
  background-color: #fffcf7;
}

.custom-dark {
  background-color: #188fa7;
}
